pkgbase = python-typing_extensions
	pkgdesc = Backported and Experimental Type Hints for Python 3.7+
	pkgver = 4.7.1
	pkgrel = 1
	url = https://github.com/python/typing_extensions
	arch = any
	license = custom
	checkdepends = python-tests
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	provides = python-typing-extensions
	conflicts = python-typing-extensions
	source = git+https://github.com/python/typing_extensions.git#tag=b518f6a64400fd5a25e5b72668370b9792ef9ae6
	b2sums = SKIP

pkgname = python-typing_extensions
